<div class="chat-container">
    <!-- Messages Display Area -->
    <div class="messages">
        <mat-list *ngrxLet="messages$ as messages" id="messages">
            <ng-container #placeToRender></ng-container>
            @for (message of messages; track message) {
                <mat-list-item>
                    <span class="message-text" [ngClass]="{'typewriter-effect': isTyping}">
                        {{ message | capitalizeFirst }}
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>
            }
        </mat-list>
    </div>
    <form 
        [formGroup]="options">
        <fieldset>
            <legend>Chatbox area form</legend>
            <mat-form-field [floatLabel]="getFloatLabelValue()">
                <mat-label>Type your message</mat-label>
                <input 
                    matInput 
                    [(ngModel)]="newMessage"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Type your query here">
            </mat-form-field>
            <div class="submit-button">
                <button 
                    type="submit"
                    mat-raised-button 
                    color="primary"
                    matTooltip="Click to send your message"
                    [matTooltipPosition]="position.value!"
                    aria-label="Submit button for sending message"
                    (click)="sendMessage()">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
