
fieldset {
    border: none;
}

legend {
    visibility: hidden;
    position: absolute;
}

mat-form-field {
    width: 100%;
}

.blink {
    border-right-style: solid;
    animation: 1s blink infinity;
}
@keyframes blink {
    to {
        opacity: 0;
    }
}