
fieldset {
    border: none;
}

legend {
    visibility: hidden;
    position: absolute;
}

mat-form-field {
    width: 100%;
    margin-bottom: 10px;
}

.typewriter-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap; 
    animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
    /* Adjust the above timings and step values as needed */
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}