<div class="signup-container">
    <form
        [formGroup]="signupForm">
        <fieldset>
            <legend>Signup area form</legend>
            <div>
                <mat-form-field class="half-width" [floatLabel]="getFloatLabelValue()">
                    <mat-label>Name</mat-label>
                    <input 
                        type="text" 
                        matInput 
                        [formControl]="profileNameControl" 
                        [errorStateMatcher]="matcher"
                        placeholder="Enter your Name" />
                        @if (profileNameControl.hasError('required')) {
                            <mat-error>Email is <strong>required</strong></mat-error>
                        }
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="half-width" [floatLabel]="getFloatLabelValue()">
                    <mat-label>Username</mat-label>
                    <input 
                        type="text" 
                        matInput 
                        [formControl]="userNameFormControl" 
                        [errorStateMatcher]="matcher"
                        placeholder="Enter your Username" />
                        @if (userNameFormControl.hasError('required')) {
                            <mat-error>Username is <strong>required</strong></mat-error>
                        }
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="half-width" [floatLabel]="getFloatLabelValue()">
                    <mat-label>Phone Number</mat-label>
                    <input 
                        type="tel" 
                        matInput 
                        [formControl]="telephoneFormControl" 
                        [errorStateMatcher]="matcher"
                        placeholder="Enter your Phone Number" />
                        @if (telephoneFormControl.hasError('required')) {
                            <mat-error>Phone Number is <strong>required</strong></mat-error>
                        }
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="half-width" [floatLabel]="getFloatLabelValue()">
                    <mat-label>Email</mat-label>
                    <input 
                        type="email" 
                        matInput 
                        [formControl]="emailFormControl" 
                        [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com" />
                        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                            <mat-error>Please enter a valid email address</mat-error>
                        }
                        @if (emailFormControl.hasError('required')) {
                            <mat-error>Email is <strong>required</strong></mat-error>
                        }
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="half-width" [floatLabel]="getFloatLabelValue()">
                    <mat-label>Password</mat-label>
                    <input 
                        type="password" 
                        matInput 
                        [formControl]="pwdFormControl" 
                        [errorStateMatcher]="matcher"
                        autocomplete="on"
                        placeholder="Enter your password" />
                        @if (pwdFormControl.hasError('pattern') && !pwdFormControl.hasError('required')) {
                            <mat-error>Please enter a valid password</mat-error>
                        }
                        @if (pwdFormControl.hasError('required')) {
                            <mat-error>Password is <strong>required</strong></mat-error>
                        }
                </mat-form-field>
            </div>
            <div>
                <mat-checkbox 
                    class="checkbox-margin"
                    (change)="acceptTandC()">I accept the Terms and Conditions</mat-checkbox>
            </div>
            <div>
                <mat-slide-toggle
                    class="toggle-margin"
                    aria-label="sign up for email notifications"
                    (change)="emailSignUp()">Sign me up for email notifications about my account</mat-slide-toggle>
            </div>
            <div>
                <button 
                    type="submit"
                    mat-raised-button 
                    color="primary"
                    [disabled]="!hasAcceptedTC"
                    matTooltip="Click to sign in"
                    [matTooltipPosition]="position.value!"
                    aria-label="Submit button for user login"
                    (click)="signup()">Create Account</button>
                <span class="cancel-button">
                    <button 
                        type="button"
                        mat-raised-button
                        (click)="cancelSignup()">Cancel</button>
                </span>
            </div>
            <p>Already have an account? <a routerLink="/login">Sign in</a></p>
        </fieldset>
    </form>
</div>
