<footer class="footer">
    <mat-toolbar class="toolbar-nav">
        <button mat-flat-button (click)="navigateToHome()">
            <mat-icon class="material-icons color_blue">
                home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-flat-button (click)="navigateToMessenger()">
            <mat-icon class="material-icons color_blue">messages
            </mat-icon>
            <span>GPT Chatbot</span>
        </button>
        <button mat-flat-button (click)="navigateToAbout()">
            <mat-icon class="material-icons color_blue">people</mat-icon>
            <span>About me</span>
        </button>
    </mat-toolbar>
</footer>