<div class="home-page-content">
    <app-translate-toolbar 
        class="translate-toolbar"
        (enClick)="switchLanguage($event)"
        (esClick)="switchLanguage($event)"></app-translate-toolbar>
    <h1>Welcome to the Chatbox Application</h1>
    <h3>Type away in the messages page to connect with your loved ones.</h3>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Some actions you can take on this page</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-email-update-form></app-email-update-form>
        </mat-card-content>
    </mat-card>
</div>
