<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
    @if (data.description !== '') {
        <p>{{data.description}}</p>
    }
    @if (data.component !== '') {
        <ng-container #placeToRender></ng-container>
    }
</mat-dialog-content>
<mat-dialog-actions>
    @if (data.acceptLabel !== '') {
        <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>{{data.acceptLabel}}</button>
    }
    @if (data.closeLabel !== '') {
        <button mat-button color="warn" (click)="onNoClick()">{{data.closeLabel}}</button>
    }
</mat-dialog-actions>
