fieldset {
    border: none;
}

legend {
    visibility: hidden;
    position: absolute;
}

.half-width {
    width: 50%;
    @media screen and (max-width: 899px) {
        width: 100%;
    }
}

.checkbox-margin {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
