<div class="login-container">
    <form
        [formGroup]="options">
        <fieldset>
            <legend>Login area form</legend>
            <div>
                <mat-form-field class="half-width">
                    <mat-label>Email</mat-label>
                    <input 
                        type="email" 
                        matInput 
                        [(ngModel)]="email"
                        [formControl]="emailFormControl" 
                        [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com" />
                        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                            <mat-error>Please enter a valid email address</mat-error>
                        }
                        @if (emailFormControl.hasError('required')) {
                            <mat-error>Email is <strong>required</strong></mat-error>
                        }
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="half-width">
                    <mat-label>Password</mat-label>
                    <input 
                        type="password" 
                        matInput 
                        [(ngModel)]="password"
                        [formControl]="pwdFormControl" 
                        [errorStateMatcher]="matcher"
                        placeholder="Enter your password" />
                        @if (pwdFormControl.hasError('pattern') && !pwdFormControl.hasError('required')) {
                            <mat-error>Please enter a valid password</mat-error>
                        }
                        @if (pwdFormControl.hasError('required')) {
                            <mat-error>Password is <strong>required</strong></mat-error>
                        }
                </mat-form-field>
            </div>
            <div>
                <mat-checkbox 
                    class="checkbox-margin"
                    (change)="rememberLogin()">Remember my credentials</mat-checkbox>
            </div>
            <div>
                <button 
                    type="submit"
                    mat-raised-button 
                    color="primary"
                    matTooltip="Click to sign in"
                    [matTooltipPosition]="position.value!"
                    aria-label="Submit button for user login"
                    (click)="login()">Sign In</button>
            </div>
            <p>New User? <a routerLink="/new-user">Create a new account</a></p>
        </fieldset>
    </form>    
</div>
